frontend/coverage/
frontend/playwright-report/
frontend/test-results/
/.gradle-cache/
/.gradle-*/
.env.local
frontend/.env.local
.env.prod.app
.env.prod.dbs
/ops/local/.env
/ops/dbs/.env
.vscode/
scripts/__pycache__/test_user_deletion_propagation.cpython-312.pyc
/ops/seed/data/gym_exercise_dataset.csv
ops/app/.env
/frontend/tmptrace
ops/seed/.env
/frontend/docs
/frontend/docs
/frontend/tmptrace2
/node_modules
/workout_service/docs
/.idea
/dev-db-dump